# Basic practise

In [2]:
import pandas as pd
mydataset = {'cars':['volvo','bmw','ford'],
            'passings': [1, 2, 5]}
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0  volvo         1
1    bmw         2
2   ford         5

In [3]:
import pandas as pd
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [4]:
#List-to-Series Conversion
import pandas as pd
list1 = [2, 4, 6, 5, 9]
my_list = pd.Series(list1)
print(my_list)

0    2
1    4
2    6
3    5
4    9
dtype: int64

In [5]:
#List-to-Series Conversion with Custom Indexi
import pandas as pd
given_list = [2, 4, 5, 6, 7]
series = pd.Series(given_list, index= [1, 3, 5, 7, 9])
print(series)

1    2
3    4
5    5
7    6
9    7
dtype: int64

In [6]:
#Make a Pandas DataFrame with two-dimensional list
import pandas as pd
list1 = [['geek', 25],['john', 12],['deo', 42],['cris', 32]]
df = pd.DataFrame(list1, columns=['Name','Age'])
print(df)

   Name  Age
0  geek   25
1  john   12
2   deo   42
3  cris   32

In [7]:
import pandas as pd
list1=[['john', 'deo', 'painter'],['cris','jef','artist'],['ab','cd','coder']]
df = pd.DataFrame(list1, columns=['fname','lname','occupation'])
print(df)

  fname lname occupation
0  john   deo    painter
1  cris   jef     artist
2    ab    cd      coder

In [8]:
#Python | Creating DataFrame from dict of narray/lists
import pandas as pd
data = {'Category':['Array', 'Stack', 'Queue'],
        'Marks':[20, 21, 19]}
df = pd.DataFrame(data)
print(df)

  Category  Marks
0    Array     20
1    Stack     21
2    Queue     19

In [9]:
import pandas as pd
data = {'Category':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}
df = pd.DataFrame(data)
print(df.transpose())

               0      1      2
Category   Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

In [10]:
import pandas as pd
data = {'Area':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}
df = pd.DataFrame(data, index=['cat_1','cat_2','cat_3'])
print(df)

        Area  Student_1  Student_2
cat_1  Array         20         15
cat_2  Stack         21         20
cat_3  Queue         19         14

In [11]:
#Creating Pandas dataframe using list of lists
import pandas as pd
data = [['john', 25],['cris', 26],['cris', 23]]
df = pd.DataFrame(data, columns=['Name','Age'])
print(df)

   Name  Age
0  john   25
1  cris   26
2  cris   23

In [12]:
import pandas as pd
data = [['DS', 'Linked_list', 10], ['DS', 'Stack', 9], ['DS', 'Queue', 7],
        ['Algo', 'Greedy', 8], ['Algo', 'DP', 6], ['Algo', 'BackTrack', 5], ]
df = pd.DataFrame(data, columns=['category', 'name', 'ma'])

In [15]:
#one dimensional object array
import pandas as pd
ds = pd.Series([2, 4, 6, 5, 8, 10])
print(ds)

0     2
1     4
2     6
3     5
4     8
5    10
dtype: int64

In [18]:
#convert a Panda module Series to Python list
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)
print(type(ds))

0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>

In [20]:
print(ds.tolist())
print(type((ds.tolist())))

[2, 4, 6, 8, 10]
<class 'list'>

In [21]:
#to add, subtract, multiple and divide two Pandas Series.
import pandas as pd
ds1= pd.Series([2, 4, 6, 8, 10])
ds2=pd.Series( [1, 3, 5, 7, 9]) 
ds1 + ds2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [22]:
ds1 -ds2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [23]:
ds1* ds2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [24]:
ds1 /ds2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [25]:
# convert a dictionary to a Pandas series
import pandas as pd
ds =pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})
ds

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [31]:
#convert a NumPy array to a Pandas series.
import numpy as np
import pandas as pd
np_array = np.array([10, 20, 30, 40, 50])
np_array
ds = pd.Series(np_array)
ds

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [42]:
#change the data type of given a column or a Series.
import pandas as pd
ds = pd.Series(['100','200','python','300.12','4', '400'])
s2 = pd.to_numeric(ds, errors='coerce')
s2

0    100.00
1    200.00
2       NaN
3    300.12
4      4.00
5    400.00
dtype: float64

In [44]:
#convert the first column of a DataFrame as a Series
import pandas as pd
df = pd.DataFrame({'Col1':[1,2,3, 4, 7, 11],'Col2':[5, 6, 9, 5, 0, 4], 'Col3':[7, 5, 8, 12, 1, 11]})
df

   Col1  Col2  Col3
0     1     5     7
1     2     6     5
2     3     9     8
3     4     5    12
4     7     0     1
5    11     4    11

In [55]:
s = df.loc[:,'Col1']
s

0     1
1     2
2     3
3     4
4     7
5    11
Name: Col1, dtype: int64

In [48]:
ds = pd.Series(df.Col1)
ds

0     1
1     2
2     3
3     4
4     7
5    11
Name: Col1, dtype: int64

In [56]:
#convert a given Series to an array.
import pandas as pd
import numpy as np
ds = pd.Series(['100', '200', 'python', '300.12', '400'])
ds

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [57]:
a = np.array(ds.values.tolist())
a

array(['100', '200', 'python', '300.12', '400'], dtype='<U6')

In [58]:
#sort a given Series
import pandas as pd
ds = pd.Series(['100', '200', 'python', '300.12', '400'])
ds

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [59]:
ds.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [60]:
# add some data to an existing Series.
import pandas as pd
ds = pd.Series(['100', '200', 'python', '300.12', '400'])
ds

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [61]:
new_s = ds.append(pd.Series(['500','pandas']))
new_s

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3012\353427329.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_s = ds.append(pd.Series(['500','pandas']))

0       100
1       200
2    python
3    300.12
4       400
0       500
1    pandas
dtype: object

In [73]:
# change the order of index of a given series
ds = pd.Series([1, 2, 3, 4, 5], index=['B','A','C','D','E'])

In [74]:
ds

B    1
A    2
C    3
D    4
E    5
dtype: int64

In [78]:
#create the mean and standard deviation of the data of a given Series.
ds = pd.Series([1,2,3,4,5,6,7,8,9,5,3])

ds.std()

2.522624895547565

In [83]:
ds.mean()

4.818181818181818

In [82]:
ds.describe()

count    11.000000
mean      4.818182
std       2.522625
min       1.000000
25%       3.000000
50%       5.000000
75%       6.500000
max       9.000000
dtype: float64

In [81]:
x=(2,3,4)
sum(x,3)

12